<#@ template debug="true" hostspecific="true" language="C#" #>
<#
	this.DataFilename = @"Patterns\Thai\Thai-Numbers.yaml";
	this.Language = "Thai";
	this.ClassName = "NumbersDefinitions";
#>
<#@ include file="..\CommonDefinitions.ttinclude"#>